[Unit]
Description=Coffin Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /usr/local/bin/coffin.sh

[Install]
WantedBy=multi-user.target
